<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-sm-12">
      <p>
        contest works!
      </p>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Contest</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listContest">
            <td>{{ item.id }}</td>
            <td>{{ item.description }}</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
</div>