<div [@routerTransition]>
  <app-page-header [heading]="'Emails'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-sm-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Subject</th>
            <th width="200">Recived date UTC</th>
            <th>From address</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listEmail">
            <td>{{ item.id }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.setReceivedDate }}</td>
            <td>{{ item.recipientsFromAddress }}</td>
            <td>{{ item.emailStatus }}</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
</div>