<div [@routerTransition]>
  <app-page-header [heading]="'Qsos'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-sm-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Callsign</th>
            <th>Datetime</th>
            <th>Exchange</th>
            <th>RST</th>
            <th>DXCC</th>
            <th>Points</th>
            <th>Mult</th>
            <th>Band</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qso of contestQsoList">
            <td>{{qso.id}}</td>
            <td>{{qso.callsignR}}</td>
            <td>{{qso.dateTime}}</td>
            <td>{{qso.exchangeE}}|{{qso.exchangeR}}</td>
            <td>{{qso.rstE}}|{{qso.rstR}}</td>
            <td>{{qso.dxccEntity}}</td>
            <td>{{qso.points}}</td>
            <td>{{qso.multiply ? "1" : ""}}</td>
            <td>{{qso.qsoBand}}</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
</div>